<html>
    <head>
        <%-include ('../partials/head.ejs')%>
    </head>
    <body>
        <h1>This is the user show page</h1>
        <nav>
            <%-include ('../partials/nav.ejs')%>
        </nav>
        <!-- DISPLAYS MESSAGE IF NO TRIPS -->
        <%if(user.trips.length === 0){%>
            <h2>There are no trips yet</h2>
        <!-- FUNCTION TO ADD TRIPS TO PAGE FOR SPECIFIC USER -->
        <%}else{%>
            <h2>What dates would you like to travel?</h2>
            <p>Departure Date:</p><input type="date" name="departureDate">
            <p>Return Date</p><input type="date" name="returnDate">
            <input type="submit">
            <h2>Your trips:</h2>
            <ul class="trips">
                <%user.trips.forEach((trip)=>{%>
                        <!-- LISTS USERS TRIPS BY CITY ONLY HREF TIED TO TRIP SHOW ROUTE -->
                    <li><a href="/trips/<%=trip._id%>"><%=trip.destinationCity%></a></li>
                    <%})%>
            </ul>
        <%}%>
        <!-- BELOW NEEDS TO LINK TO SHOW FORM TO CREATE TRIP PAGE -->
        <a href="/trips/new/<%=user._id%>"><button class="create-trip-button">Create a Trip!</button></a> 
        <script src="" async defer></script>
    </body>
</html>