<!DOCTYPE html>
<html>
    <head>
        <%-include ('../partials/head.ejs')%>
    </head>
    <body>
        <nav>
            <%-include ('../partials/nav.ejs')%>
        </nav>
        <h1>This is the form to edit a trip</h1>
        <h2>The current destination city is: <%=trip.destinationCity%></h2>
        <h2>The current destination Country is: <%=trip.destinationCountry%></h2>
        
        <form action="/trips/<%=trip._id%>?_method=PUT" method="POST">
            <label for="destinationCity">Destination City:</label>
            <input type="text" name="destinationCity" required>
            <label for="destinationCountry">Destination Country:</label>
            <input type="text" name="destinationCountry" required>           
            <input type="submit">
        </form>
        <script src="" async defer></script>
    </body>
</html>