<!DOCTYPE html>
<html>
    <head>
        <%-include ('../partials/head.ejs')%>
    </head>
    <body>
        <nav>
            <%-include ('../partials/nav.ejs')%>
        </nav>
        <h1>Trips created by users</h1>
        <%if(trips.length === 0){%>
            <h2>There are no trips in the database!</h2>
        <%}else{%>
            <h2>Trending Trips</h2>
            <ul class="trending-trips">
                <%trendingTrips.forEach((trip)=>{%>
                    <li><a href="/trips/<%=trip._id%>"><%=trip.destinationCity%>, <%=trip.destinationCountry%></a></li>
                <%})%>
            </ul>
            <h2>All Trips</h2>
            <ul class="trips">
            <%trips.forEach((trip)=>{%>
                    <li><a href="/trips/<%=trip._id%>"><%=trip.destinationCity%>, <%=trip.destinationCountry%></a></li>
            <%})%>
        </ul>
        <div id="map">
        </div>
        <%}%>
        <script>
            async function initMap() {
                const myLatLng = { lat: -25.363, lng: 131.044 };
                const map = await new google.maps.Map(document.getElementById("map"), {
                        zoom: 1,
                        center: myLatLng,
                    });
            
                    new google.maps.Marker({
                        position: myLatLng,
                                    map,
                        title: "Hello World!",
                    });
                    }
            initMap();
        </script>

    <!--  <iframe
    //     width="600"
    //     height="450"
    //     style="border:0"
    //     loading="lazy"
    //     allowfullscreen
    //     src="https://www.google.com/maps/embed/v1/place?key=<%=process.env.GOOGLE_API_KEY%>&q=atlantic+ocean"
    //     markers: null>
    //   </iframe>  -->


    </body>
</html>