<!DOCTYPE html>
<html>
    <head>
        <%-include ('../partials/head.ejs')%>
    </head>
    <body>
        <nav>
            <%-include ('../partials/nav.ejs')%>
        </nav>
        <h1> TRENDING trips</h1>
        <%if(trips.length === 0){%>
            <h2>There are no trips in the database!</h2>
        <%}else{%>
            <ul class="trips">
            <% trips.forEach((trip)=>{ %>
                    <li><a href="/trips/<%=trip._id%>"><%=trip.destinationCity%>, <%=trip.destinationCountry%></a></li>
            <% }) %>
        </ul>
        <%}%>
        <script src="" async defer></script>
    </body>
</html>