<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ('../partials/head.ejs')%>
</head>
<body>
    <nav>
        <%-include ('../partials/nav.ejs')%>
    </nav>
    <h1><%= trip.destinationCity %></h1>
    <h1><%= trip.destinationCountry %></h1>
    <%if(tripOwner === currUser){%>
        <a href="/trips/<%=trip._id%>/edit"><button class="edit-trip-button">Edit</button></a>
        <form action="/trips/<%= trip._id %>?_method=DELETE" method="post">
            <button type="submit">Delete <%= trip.destinationCity%>?</button>
        </form>
    <%}%>
</body>
</html>