<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ('../partials/head.ejs')%>
</head>
<body>
    <nav>
        <%-include ('../partials/nav.ejs')%>
    </nav>
    <h1 id="address"><%= trip.tripName%></h1>
    <h2 id="address">Location: <%=trip.destinationCity%></h2>
        <%if(tripOwner === currUser){%>
            <form action="/trips/<%=trip._id%>/activity?_method=PUT" method="POST"> 
                <label for="add-activity">Add an activity:</label>
                <input type="text" placeholder="activity" name="activity">
                <input type="submit" id="activity-submit-button">
            </form>  
    <%}else{%>
        <h6>Trip created by: <%=tripOwnerName%></h6>
    <%}%>
    <section class="trip-activities">
        <h4>Planned Activities:</h4>
        <ul class="activities">
            <%for(let i = 0; i < trip.activities.length; i++){%>
                <%let activity = trip.activities[i]%>
                    <li><%=activity%></li>
            <%}%>
        </ul>
    </section>
    <section class="edit-buttons">
        <%if(tripOwner === currUser){%>
            <a href="/trips/<%=trip._id%>/edit"><button class="edit-trip-button">Edit</button></a>
            <form action="/trips/<%= trip._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete <%=trip.tripName%>?</button>
            </form>
        <%}%>
    </section>
</body>
    <script>
        //reads h1 which is destionationCity and saves address now just need fuction to run with clicking "pin" button
        var geocoder = new google.maps.Geocoder();
        var map;
        async function initialize() {
            var latlng = await new google.maps.LatLng(-34.397, 150.644);
            var mapOptions = {
                zoom: 8,
                center: latlng
            }
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
        }   

        function codeAddress() {
            var address = document.getElementById('address').innerText;
            console.log(`addy: ${address}`)
            geocoder.geocode( { 'address': address}, function(results, status) {
            if (status == 'OK') {
                console.log(`status is okay: ${address}`)
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
            });
        }
    </script>
<body onload="drawMap()">
<script>
    async function drawMap(){
      try{  
        await initialize()
        codeAddress();
      }catch{setTimeout(codeAddress, 50)}
    }
</script>
    <div id="restuarants">
    </div>
    <div id="map" style="width: 320px; height: 480px;"></div>
     <div>
       <!-- <input type="button" value="Show on Map" onclick="codeAddress()"> -->
     </div>
   </body>